<template>
    <div>
        <div class="nav">
            <ul>
                <li v-for="menuItem in menuItems" :key="menuItem.id">
                    <a @click="swapComponent(menuItem.title)">
                        {{menuItem.title}}
                    </a>
                </li>
            </ul>
        </div>
        <keep-alive>
            <component :is="currentComponent"></component>
        </keep-alive>
    </div>
</template>

<script>

import passenger from "./passenger"
import driver from "./driver"

    export default{
        data: function(){
            return {
                passengerComponent: passenger,
                currentComponent: null,
                menuItems: [
                {title:"passenger"},
                {title:"driver"}
                ]
            }
        },
        methods: {
            swapComponent: function(component){
                console.log(component);
                if (component == 'passenger') {  // Fix for passenger compoment duplication
                    this.currentComponent = this.passengerComponent
                }
                else {
                    this.currentComponent = component;
                }
            }
        },
        mounted () {
            this.currentComponent = this.passengerComponent;
        }
    }

</script>

<style>

  .nav {
    background-color: #65658b;
  }

  .nav ul {
    overflow: auto;
    width: 100%;
    margin: 0 auto;
    list-style: none;
    background-color: #65658b;
    text-align: left;
    padding: 0;
  }

  .nav li {
    float: left;
    margin-left: 12px;
    font-size: 1.2em;
    line-height: 40px;
    height: 43px;
  }

  .nav a {
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
    display: block;
    transition: .1s border-bottom;
    cursor: pointer;
  }

  .nav a:hover {
    border-bottom: 3px solid #fff;
  }

  .nav a:active {
    background-color:#948FA2;
    cursor: default;
  }

  .app-login {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
  }

  .app-login-input {
    width: 80%;
    float: left;
  }

  .app-login-button {
    width: 18%;
    float: right;
    background-color: #65658b;
  }

  .app-logout-button {
    width: 18%;
    float: right;
    background-color: #65658b;
  }

  .app-account {
    margin-top: 0.5em;
  }

</style>
