<template>
<div>
    <div class="app-login clearfix">
        <input type="text" class="form-control app-login-input" v-model = "driverName" placeholder="driver name"/>
        <button @click="login" class="btn btn-primary app-login-button">Login</button>
    </div>

    <div id="map" style="width:100%;height:300px"></div>

    <div v-if="driver && hasAcceptedTrip.length === 0" class="panel-group">
        Driver: {{driver}}
        <div class="panel-group app-requests" id="accordion">
            <div v-for="(request, index) in taxiRequests" :key="request.id">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" :href="['#collapse' + request.id]" @click="getMapPoints(request), getTripDetails(request.id)">
                                {{request.pickup_location}} -> {{request.dropoff_location}}
                            </a>
                            <a class="btn btn-default btn-xs pull-right btn-success" style="margin-right:5px" @click="updateRideWithDriver(request.id, 'true')">
                                Accept ride
                            </a>
                        </h4>
                    </div>
                    <div :id="['collapse' + request.id]" class="panel-collapse collapse" data-parent="#accordion">
                        <div class="panel-body">
                            <div v-show="request.intermediate_points">
                                Intermediate points
                                <ul id="tags">
                                <li v-for="point in request.intermediate_points">
                                    {{point}}
                                </li>
                                </ul>
                            </div>
                            <p>
                                Payment method - {{trip_details.payment_method}}
                            </p>
                            <p>
                                Trip cost - {{trip_details.cost}} €
                            </p>
                            <p>
                                Trip length - {{trip_details.trip_length}} km
                            </p>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div v-else-if="hasAcceptedTrip.length !== 0 && driver" class="panel-group">
        Driver: {{driver}}
        <div class="panel-group" id="accordion">
            <li>
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <div>Drive, passenger is waiting!</div>
                            <br> 
                            {{hasAcceptedTrip.pickup_location}}
                            <br>
                            ->
                            <br>
                            {{hasAcceptedTrip.dropoff_location}}
                            <div v-if="hasAcceptedTrip.state=='driver_confirmed'" class="panel-group">
                                <a class="btn btn-default btn-xs pull-right btn-success" style="margin-right:15px;marigin-bottom:5px" @click="passengerAboard(hasAcceptedTrip.id)">
                                    Passenger aboard
                                </a>
                            </div>
                            <div v-else-if="hasAcceptedTrip.state=='driving'" class="panel-group">
                                 <a class="btn btn-default btn-xs pull-right btn-success" style="margin-right:15px;marigin-bottom:5px" @click="tripFinished(hasAcceptedTrip.id)" >
                                     Trip done
                                 </a>
                            </div>
                        </h4>
                    </div>
                </div>
            </li>
        </div>
    </div>
</div>
</template>

<script>
import axios from "axios"
import {Socket} from 'phoenix-socket'



export default {
    data: function () {
        return {
            driverName: "",
            driver: "",
            driverPosition: "",
            driverCoordinates: null,
            taxiRequests: [],
            geocoder: null,
            directionsService: null,
            directionsRenderer: null,
            loc: null,
            locationTracker: null,
            driverId: null,
            hasAcceptedTrip: [],
            latitude: "",
            longitude: "",
            socket: "",
            channel: "",
            channel_booking: "",
            channel_cancel: "",
            channel_accept: "",
            carInfo: {
                type: "",
                model: "",
                regNumber: ""
            },
            trip_details: {
                payment_method: "",
                cost: "",
                trip_length:""
            },
            
        }
    },
    methods: {
        passengerAboard: function(id) {
            axios.post("api/bookings/driving", {
                params:{
                    id:id
                }
            }).then(response => {
                this.messages = response.data.msg;
                this.hasAcceptedTrip.state = "driving";
                this.channel.push("status_update",{"status":"driving", "booking_id":id})

        }).catch(error => {
                   console.log(error);
               })
        },
        getTripDetails: function(id){
            axios.get("api/bookings/trip_details_id", {
                    params:{
                        booking_id: id
                    }
                }).then(response =>{
            axios.get("api/bookings/trip_details", {
                params:{
                    trip_details_id:response.data.details_id
                }
            }).then(response => {
                this.trip_details = response.data.details
            }).catch(error => {
                console.log(error)
            })
                } ).catch(error => {
                    console.log(error)
                })
        },
        tripFinished: function(id) {
            axios.post("api/bookings/complete", {
                params:{
                    id:id
                }
            }).then(response => {
                console.log("TRIP FINISHED", response.data)
                this.messages = response.data.msg;
                this.hasAcceptedTrip.state = "complete";
                axios.post("api/drivers/available", {
                        params:{
                            driver:this.driverId
                        }
                    }).then(response => {
                        console.log("driver available again");
                    }).catch(error => {
                        console.log(error);
                    });
                //also add trip end time to trip_details table
                //first we need trip id from bookings table
                axios.get("api/bookings/trip_details_id", {
                    params:{
                        booking_id: id
                    }
                }).then(response => {
                    console.log("TRIP DETAILS ID: ", response.data)
                    let trip_det_id = response.data.details_id;
                    let end_date = Date(new Date().getTime() * 1000);
                    axios.post("api/trip_details/end_time", {
                            params:{
                                id: trip_det_id,
                                end: end_date
                            }
                        }).then(response => {
                            console.log(response.data)
                        }).catch(error => {
                            console.log(error)
                        })
                }).catch(error => {
                    console.log(error)
                })
               }).catch(error => {
                   console.log(error);
               })
            this.channel.push("status_update",{"status":"", "booking_id":id})
            this.hasAcceptedTrip = [];
            if(this.loc !== null){
                this.map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 14,
                    center: this.loc
                });
                new google.maps.Marker({
                    position: this.loc,
                    map: this.map,
                    title: "Pickup address"
                });
            }
            this.getTaxiRequest();
        },
        updateRideWithDriver: function(id, confirmed){
            console.log(confirmed)
            axios.post("/api/bookings/driver", {
                params:{
                    id:id,
                    driver: this.driverId,
                    confirm: confirmed
                }
            }).then(response => {
                console.log(confirmed, "confirmed");
                    if(confirmed){
                        this.channel.push("status_update",{"status":"driver_confirmed", "booking_id":id, 
                        "driver_name": this.driverName, "car_type": this.carInfo.type, "car_model": this.carInfo.model, "car_number": this.carInfo.regNumber});
                    }
                    this.messages = response.data.msg;
                    this.hasAcceptedTrip.state = "driver_confirmed";
                    axios.post("api/drivers/driving", {
                        params:{
                            driver:this.driverId
                        }
                    }).then(response => {
                        console.log("driver now booked");
                         this.channel_accept.push("accept_booking",{
                            "id": id
                            })
                    }).catch(error => {
                        console.log(error);
                    });
                    this.checkAcceptedTrips();
                    }).catch(error => {
                        console.log(error);
                    });
        },
       getTaxiRequest: function () {
            axios.get("/api/bookings", {
                params: {
                    driver: this.driver
                }
            }).then(response => {
                this.taxiRequests = response.data.bookings
                console.log("driver.vue : getTaxiRequest()")
                console.log(response.data)
            }).catch(error => {
                console.log(error)
            })
        },
        login: function () {
            this.taxiRequests = []
            navigator.geolocation.clearWatch(this.locationTracker);
            axios.get("/api/drivers/user", {params: {driver: this.driverName}})
                .then(response => {
                    this.driver = response.data.user;
                    this.latitude = response.data.latitude;
                    this.longitude = response.data.longitude;
                    this.driverId = response.data.id;
                    this.carInfo.type = response.data.car_type;
                    this.carInfo.model = response.data.model;
                    this.carInfo.regNumber = response.data.reg_number;
                    this.getTaxiRequest(),
                    this.updateDriverLocation(),
                    this.checkAcceptedTrips()
            }).catch(error => {
                console.log("No such user exists")
            })
        },
        checkAcceptedTrips: function (){
            axios.get("/api/bookings/booking", {
                params: {
                    driv_id: this.driverId}})
                .then(response => {
                    switch(response.data.accepted_booking){
                        case "404":
                            this.hasAcceptedTrip = []
                            if(this.loc !== null){
                                this.map = new google.maps.Map(document.getElementById('map'), {
                                    zoom: 14,
                                    center: this.loc
                                });
                                new google.maps.Marker({
                                    position: this.loc,
                                    map: this.map,
                                    title: "Pickup address"
                                });
                            }
                            break;
                        default:
                            this.hasAcceptedTrip = response.data.accepted_booking
                            this.getMapPoints(this.hasAcceptedTrip)
                    }
            }).catch(error => {
                console.log("Driver has no accepted booking")
            })
        },
        getMapPoints: function (request) {
            var self = this;

            console.log(this.geocoder)
            this.geocoder.geocode({
                'address': request.dropoff_location,
                componentRestrictions: {
                    country: 'EE'
                }
            }, function (results, status) {
                console.log(results)
                console.log(request.intermediate_points[0])
                var waypts = [];
                waypts.push({
                    location: request.pickup_location,
                    stopover: true //true by default
                });
                for (var i = 0; i < request.intermediate_points.length; i++) {
                    waypts.push({
                        location: request.intermediate_points[i],
                        stopover: true //true by default
                    });
                };
                var uus = {
                    origin: self.loc,
                    destination: results[0].geometry.location,
                    waypoints: waypts,
                    travelMode: google.maps.TravelMode.DRIVING
                };

                self.directionsService.route(uus, (response, status) => {
                    if (status == 'OK') {
                        self.directionsRenderer.setDirections(response);
                        self.directionsRenderer.setMap(new google.maps.Map(document.getElementById('map'), {
                            zoom: 14,
                            center: this.loc
                        }));
                    } else {
                        console.log("Directions request failed due to " + status)
                    }
                })

            })
            this.directionsService = new google.maps.DirectionsService();
            this.directionsRenderer = new google.maps.DirectionsRenderer();
        },
        updateDriverLocation: function() {
            this.locationTracker = navigator.geolocation.watchPosition(position => { 
                let latitude = position.coords.latitude; 
                let longitude = position.coords.longitude; 
                axios.post("/api/drivers/user", {params: {driver: this.driverName, lat: latitude, long: longitude}})
                .then(response => {
                    let rsp = response.data.msg;
                    console.log(response.data);
                }).catch(error => {
                    console.log(error);
                });
            });
        }
    },
    mounted: function () {


        this.socket = new Socket("/socket");
        this.socket.connect();
        this.channel = this.socket.channel("topic:status", {});
        this.channel.join()
        .receive("ok", resp => { console.log("NewLink Joined successfully", resp) })
        .receive("error", resp => { console.log("NewLink Unable to join", resp) })


        this.channel_booking = this.socket.channel("topic:bookings", {});
        this.channel_booking.join()
        .receive("ok", resp => { console.log("Joined successfully to booking channel", resp) })
        .receive("error", resp => { console.log("Unable to join booking channel", resp) })

        this.channel.on('bookings_update', payload => {
        console.log("BOOKING UPDATE", payload)
        const freshBooking = {
            "id": payload.id,
            "pickup_location": payload.pickup_location,
            "dropoff_location": payload.dropoff_location,
            "intermediate_points": payload.intermediate_points,
            "state": payload.state,
            "passenger_id": payload.passenger_id,
            "driver_id": payload.driver_id
        }
        this.taxiRequests.push(freshBooking);
        })


        //channel for new canceling booking
        this.channel_cancel = this.socket.channel("topic:cancel", {});
        this.channel_cancel.join()
        .receive("ok", resp => { console.log("Joined booking cancelling channel", resp) })
        .receive("error", resp => { console.log("Unable to join cancel channel", resp) })
        
        this.channel.on('cancel_booking', payload => {
            console.log("Cancel booking", payload)
            const cancelBooking = {
                "cancel_it": payload.cancel_it,
                "id": payload.id
                }
            if(cancelBooking.cancel_it === true){
                this.taxiRequests = this.taxiRequests.filter(function(value, index, arr){
                    return value.id !== cancelBooking.id;
                });
            }
        })

        this.channel_accept = this.socket.channel("topic:accept", {});
        this.channel_accept.join()
        .receive("ok", resp => { console.log("Joined successfully to booking accept", resp) })
        .receive("error", resp => { console.log("Unable to join booking accept", resp) })

        this.channel_accept.on('accept_booking', payload => {
            this.taxiRequests = this.taxiRequests.filter(function(value, index, arr){
                return value.id !== payload.id
            })
        })

        navigator.geolocation.getCurrentPosition(position => {
            console.log(position.coords);
            this.loc = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
            };
            this.geocoder = new google.maps.Geocoder;
            this.geocoder.geocode({
                location: this.loc
            }, (results, status) => {
                if (status === "OK" && results[0])
                    this.driverPosition = results[0].formatted_address;
            });
            this.map = new google.maps.Map(document.getElementById('map'), {
                zoom: 14,
                center: this.loc
            });
            new google.maps.Marker({
                position: this.loc,
                map: this.map,
                title: "Pickup address"
            });
        });
        this.directionsService = new google.maps.DirectionsService();
        this.directionsRenderer = new google.maps.DirectionsRenderer();

    },
    beforeDestroy: function() {
        navigator.geolocation.clearWatch(this.locationTracker);
    }
}
</script>

<style>
  .app-requests {
      list-style: none;
  }
</style>