<template>
<div class="app-content">
    <div class="app-login clearfix" v-show="userData.id ==''">
        <input  v-model="username" placeholder="username" type="text" class="form-control app-login-input">
        <button @click="login" class="btn btn-primary app-login-button"> Login </button>
    </div>
    <div class="app-login clearfix" v-show="userData.id !=''">
        <button @click="logout" class="btn btn-primary app-logout-button"> Log Out </button>
        <div v-show="username && balance != null" class="app-account">
            Passenger: <b>{{username}} </b>    Account balance: <b>{{balance}} EUR </b>
        </div>
    </div>

    <div id="map" style="width:100%;height:300px"></div>
    <ul class="app-inputs">
        <li v-for="error in errors" :key="error.id">
            <div class="alert alert-danger">
                {{error}}
            </div>
        </li>
    </ul>
    <div class="app-estimation clearfix" v-if="estimationsVisible">
        <h5 class="est-header">Trip Estimations</h5>
        <div class="app-est"><b>Rate:</b> {{rideRate.name}}</div>
        <div class="app-est"><b> Trip cost: </b> {{(rideRate.estimatedCost).toFixed(2)}} €</div>
        <div class="app-est"><b>Trip Distance:</b> {{rideRate.totalDistance}} km</div>
        <div class="app-est"><b>Arrival time:</b> in {{rideRate.arrivalTime}} min</div>
        <div class="app-est"><b>Trip Duration:</b> {{rideRate.totalTripTime}} min</div>
    </div>
    <ul class="app-inputs">
        <div class="app-input-group">
            <input class="form-control app-input" type="text" v-model="startingPoint" v-bind:readonly="tripConfirmed" placeholder="Pickup location" id="app-input0">
            <span class="app-icon app-add glyphicon glyphicon-plus" v-show="addPointVisible && !tripConfirmed" @click="addIntermediatePoint"></span>
        </div>
        <li v-for="(point, index) in intermediatePoints" :key="point.id">
            <div class="app-input-group">
                <input class="form-control app-input" type="text" v-bind:readonly="tripConfirmed" v-model="point.location" placeholder="Intermediate location" v-bind:id="'app-input'+point.id">
                <span class="app-icon app-remove glyphicon glyphicon-minus" v-show="!tripConfirmed" @click="deleteRow(index)"></span>
            </div>
        </li>
        <input class="form-control app-input" type="text"  v-model="destinationPoint" v-bind:readonly="tripConfirmed" placeholder="Destination point" id="app-inputN">
        </ul>
        <div v-show="canDoNewRequest == ''">
            
            Payment method:
            <input type="radio" id="balance" v-model="payment" v-bind:value="'balance'"
                checked style="margin-left:10px">
            <label for="balance">Account balance</label>
            <input type="radio" id="cash" v-model="payment" v-bind:value="'cash'" style="margin-left:10px">
            <label for="cash">Cash</label>

            <button class="app-large-btn btn btn-primary" v-show="!tripConfirmed" @click="confirmBooking">CONFIRM</button>
            <button class="app-large-btn btn btn-primary" v-show="tripConfirmed" @click="submitBooking">GO</button>
            <button class="app-large-btn btn btn-primary" v-show="tripConfirmed" @click="changeBooking">Change</button>
        </div>
        <div v-show="canDoNewRequest == 'pending'">
            <p class="alert alert-info"> Looking for the driver! </p>
            <button class="app-large-btn btn btn-primary" @click="cancelRequest"> Cancel Request</button>
        </div>

        <div class="alert alert-info" v-show="canDoNewRequest=='driver_confirmed'">
            <p> Driver <b>{{driverInfo.driverName}}</b> is on the way to you! </p>
            <p> Car Model: <b>{{driverInfo.carModel}}</b>, type: <b>{{driverInfo.carType}}</b></p>
            <p> Reg. Number: <b>{{driverInfo.carNumber}}</b></p>
        </div>

        <div class="alert alert-info" v-show="canDoNewRequest=='driving'">
            <p> Driving </p>
        </div>

</div>
</template>

<script>
import axios from "axios";
import {Socket} from 'phoenix-socket'


export default {
    data: function() {
        return {
            maxLocations : 3,
            map: null,
            geocoder: null,
            addPointVisible: true,
            startingPoint : '',
            destinationPoint : '',
            intermediatePoints: [],
            messages: "",
            loc: null,
            directionsRenderer: null,
            directionsService: null,
            errors: [],
            estimationsVisible: false,
            payment: 'cash',
            tripConfirmed: false,
            username: "",
            balance: null,
            userData: {
                id: "",
                data: "",
            },
            bookingId: null,
            canDoNewRequest: "not_logged",
            socket: "",
            channel: "",
            channel_booking: "",
            channel_cancel: "",
            driverInfo: {
                driverName: "",
                carType: "",
                carModel: "",
                carNumber: ""
            },
            rideRate: {
                name: "",
                estimatedCost: 0.0,
                totalDistance: 0.0,
                arrivalTime: 0,
                totalTripTime: 0
            },
            pointsCount: 0
        }
    },
    methods: {
        addIntermediatePoint: function () {
            if (this.intermediatePoints.length <= this.maxLocations) {
                let new_id = this.intermediatePoints.length + 1
                this.intermediatePoints.push({
                    location:'',
                    id: new_id
                });
            }
            if (this.intermediatePoints.length == this.maxLocations) {
                this.addPointVisible = false;
            }
        },
        reset() {
            Object.assign(this.$data, this.$options.data.call(this));
        },

        deleteRow: function (index) {
            this.intermediatePoints.splice(index, 1);
            this.addPointVisible = true;
        },

        geocodeAdr: function(newMap) {
            return new Promise ((resolve, reject) => {
                var that = this;
                this.estimationsVisible = false;
                var errors = [];

                this.directionsRenderer.setMap(newMap);

                var waypts = [];
                for (var i = 0; i < this.intermediatePoints.length; i++) {
                    waypts.push({
                        location: this.intermediatePoints[i].location,
                        stopover: true //true by default
                    });
                }

                var routeRequest = {
                    origin: this.startingPoint,
                    destination: this.destinationPoint,
                    waypoints: waypts,
                    travelMode: google.maps.TravelMode.DRIVING
                }

                this.directionsService.route(routeRequest, function(response, status) {
                    if (status == google.maps.DirectionsStatus.OK) {
                        that.directionsRenderer.setDirections(response);
                        that.directionsRenderer.setMap(newMap);
                        that.calculateTotalDistance(response);
                        resolve ("Valid route");
                    } else {
                        var message = "";
                        for (i = 0; i<response.geocoded_waypoints.length; i++) {
                            if (response.geocoded_waypoints[i].geocoder_status !== "OK") {
                                if (i === 0) {
                                    message = "Could not find address for pickup location";
                                } else if (i === response.geocoded_waypoints.length - 1) {
                                    message = "Could not find address for destination location";
                                } else {
                                    message = `Could not find address for intermediate location ${i}`;
                                }
                                errors.push(message);
                            }
                        }

                        reject (errors);
                    }
                });
            });
        },

        confirmBooking: function () {
            let m = new google.maps.Map(document.getElementById('map'), {
                zoom: 14,
                center: this.loc
            });
            const that = this;
            this.errors = [];
            this.geocodeAdr(m).then(() => {
                this.findClosestTaxi().then((response) => {
                    that.rideRate.arrivalTime = response.arrival_time;
                    that.estimationsVisible = true;
                    that.tripConfirmed = true;
                    //to get the closest driver id look for response.driver_id
                }, (error) => {
                    this.errors.push(error);
                });
            }, (errorMessages) => {
                errorMessages.forEach(error => {
                    this.errors.push(error);
                });
            });
        },

        submitBooking: function() {
            var that = this;
            if (this.payment == "balance" && this.balance < this.rideRate.estimatedCost) {
                if (this.errors.length == 0) {
                    this.errors.push("Your account balance is not sufficient to pay for the trip.")
                }
            }
            else if (this.errors.length == 0 || this.errors[0] == "Your account balance is not sufficient to pay for the trip.") {
                this.errors = [];
                console.log("what");
                const intermediateLocations = this.intermediatePoints.map(p => p.location);
                axios.post("/api/bookings", {
                        booking: {
                            pickup_location: this.startingPoint,
                            dropoff_location: this.destinationPoint,
                            intermediate_points: intermediateLocations,
                            state: "pending",
                            passenger_id: this.userData.id,
                            driver_id: 0
                        }
                    })
                    .then(response => {
                        this.messages = response.data.msg;
                        this.bookingId = response.data.id;
                        //lets notify driver about new request
                        this.channel.push("bookings_update",{
                            "id": this.bookingId,
                            "pickup_location": this.startingPoint,
                            "dropoff_location": this.destinationPoint,
                            "intermediate_points": intermediateLocations,
                            "state": "pending",
                            "passenger_id": this.userData.id,
                            "driver_id": 0
                            })

                        //fill in trip details table row
                        let date = Date(new Date().getTime() * 1000);
                        axios.post('/api/trip_details', {
                            trip_details: {
                                cost: this.rideRate.estimatedCost.toFixed(2),
                                end_time: null,
                                start_time: date,
                                payment_method: this.payment,
                                trip_length: String(this.rideRate.totalDistance)
                            }
                        }).then(response => {
                            this.messages = response.data.msg;
                            console.log(response);
                            console.log(this.bookingId);
                            var trip_details_id = response.data.id;
                            axios.post('/api/bookings/trip_details', {
                                params: {
                                    id: this.bookingId,
                                    details: trip_details_id
                                }
                            }).then(response => {
                                console.log("Trip details set to booking");
                            }).catch(error => {
                                console.log(error);
                            });
                            this.login();

                        }).catch(error => {
                            console.log(error);
                        });
                }).catch(error => {
                    console.log(error);
                });
            }
        },

        calculateTotalDistance: function (direction) {
            var totalDistance = 0, totalTime = 0;
            var myroute = direction.routes[0];
            for (var i = 0; i < myroute.legs.length; i++) {
                totalDistance += myroute.legs[i].distance.value;
                totalTime += myroute.legs[i].duration.value + 120; //roughly adding 2mins of stop on all route intervals
            }
            var numStops = myroute.legs.length - 1;

            this.rideRate.totalDistance = totalDistance / 1000; //in kilometers
            this.rideRate.totalTripTime = Math.ceil(totalTime/60) + numStops * 3; //in minutes, also we assume that the one stop will take around 3 minutes

            this.rideRate.estimatedCost = this.rideRate.start_value 
                + numStops * this.rideRate.stop_value
                + this.rideRate.totalDistance * this.rideRate.value;
        },

        changeBooking: function () {
            this.tripConfirmed = false;
            this.estimationsVisible = false;
        },

        findClosestTaxi: function() {
            return new Promise ((resolve, reject) => {
                let time = Infinity;
                let driverID = 0;
                const that = this;
                let drivers_len = 0;
                let current_index = 0;
                axios.get("/api/drivers")
                    .then(response => {
                    //Currently we are getting all the drivers with coordinates. Need to improve this logic
                    let validDrivers = response.data.drivers.filter((driver) => driver.latitude !== null && driver.latitude !== "");
                    drivers_len = validDrivers.length;
                    if (drivers_len == 0) {
                        reject("There are no available drivers");
                    }
                    for (let  i=0; i < drivers_len; i++) {
                        let driver = validDrivers[i]
                        let latlng = new google.maps.LatLng(parseFloat(driver.latitude), parseFloat(driver.longitude));
                        let routeRequest = {
                            origin: latlng,
                            destination: this.startingPoint,
                            travelMode: google.maps.TravelMode.DRIVING
                        }

                        this.getDistance(routeRequest).then((response) => {

                            if (response.totalTime < time) {
                                    time = response.totalTime;
                                    driverID = driver.id;
                            }
                            current_index ++;
                            if (current_index == drivers_len) {
                                resolve({driver_id: driverID, arrival_time: Math.ceil(time/60)});  //resolving the promise when all the distances are checked
                            }
                        }, (error) => {
                            console.log(error);
                        });
                    }
                }).catch(error => {
                        reject(error);
                });
            });
        },

        login: function () {
            axios.get("/api/login/user", {
                    params: {
                        user: this.username
                    }
                })
                .then(response => {
                    this.balance = response.data.balance;
                    this.userData.data = response.data.data; 
                    this.userData.id = response.data.id;
                    console.log(response.data.data)
                    if (response.data.data == "") {
                        this.canDoNewRequest = "";
                        this.tripConfirmed = false;
                    } else {
                        this.canDoNewRequest = response.data.data.state
                        if (this.intermediatePoints.length === 0) {
                            response.data.data.intermediate_points.forEach(int_loc => this.intermediatePoints.push({
                                location: int_loc,
                                id:this.intermediatePoints.length+1
                            }));
                        }
                        
                        this.destinationPoint = response.data.data.dropoff_location
                        this.startingPoint = response.data.data.pickup_location
                        this.confirmBooking();
                        this.tripConfirmed = true;
                    }

                }).catch(error => {
                    console.log("Something went wrong");
                });
        },

        getDistance: function (routeRequest) {
            return new Promise ((resolve, reject) => {
                this.directionsService.route(routeRequest, function(response, status) {
                    if (status == google.maps.DirectionsStatus.OK) {
                        let myroute = response.routes[0];
                        let totalDistance = 0;
                        let totalTime = 0;
                        for (let j = 0; j < myroute.legs.length; j++) {
                            totalDistance += myroute.legs[j].distance.value;
                            totalTime += myroute.legs[j].duration.value;
                        }
                        resolve({totalDistance, totalTime});

                    }
                    else {
                        reject("Invalid driver location");
                    }
                });
            });
        },

        init: function () {
            axios.get("/api/bookings/rate", {
                    params: {
                        code: "stand"
                    }
                })
                .then(response => {
                    this.rideRate = response.data;  //id, code, name, value
                }).catch(error => {
                    this.errors.push("Could not receive ride rate information");
                    console.log(error);
                });

            navigator.geolocation.getCurrentPosition(position => {
                console.log(position.coords);
                this.loc = {lat: position.coords.latitude, lng: position.coords.longitude};
                this.geocoder = new google.maps.Geocoder;
                this.geocoder.geocode({location: this.loc}, (results, status) => {
                    if (status === "OK" && results[0])
                        this.startingPoint = results[0].formatted_address;
                });
                this.map = new google.maps.Map(document.getElementById('map'), {zoom: 14, center: this.loc});
                new google.maps.Marker({position: this.loc, map: this.map, title: "Pickup address"});
            });

            this.directionsService = new google.maps.DirectionsService();
            this.directionsRenderer = new google.maps.DirectionsRenderer();

            //Autocompletion logic
            let options = {
                    types: ['address'],
                    componentRestrictions: {country: "ee"}
            };

            this.autocomplete0 = new google.maps.places.Autocomplete(
                (document.getElementById('app-input0')),
                options
            );

            this.autocomplete0.addListener('place_changed', () => {
                let place = this.autocomplete0.getPlace();
                this.startingPoint= place.formatted_address;
            });

            this.autocompleteN = new google.maps.places.Autocomplete(
                (document.getElementById('app-inputN')),
                options
            );

            this.autocompleteN.addListener('place_changed', () => {
                let place = this.autocompleteN.getPlace();
                this.destinationPoint = place.formatted_address;
            });



            this.socket = new Socket("/socket");
            this.socket.connect();
            this.channel = this.socket.channel("topic:status", {});
            this.channel.join()
            .receive("ok", resp => { console.log("NewLink Joined successfully", resp) })
            .receive("error", resp => { console.log("NewLink Unable to join", resp) })
                // Getting ride rate (price per km)
            // Currently it is getting standart value only, but it may be possibly used for car type selection feature
            
            this.channel.on('status_updated', payload => {
                console.log("from Phoenix", payload);

                if(payload.booking_id == this.userData.data.id){
                    this.canDoNewRequest = (payload.status)
                    //trip has ended, clear everything, calculate money, if type account balance
                    if(payload.status == ""){
                         navigator.geolocation.getCurrentPosition(position => {
                            console.log(position.coords);
                            this.loc = {lat: position.coords.latitude, lng: position.coords.longitude};
                            this.geocoder = new google.maps.Geocoder;
                            this.geocoder.geocode({location: this.loc}, (results, status) => {
                                if (status === "OK" && results[0])
                                    this.startingPoint = results[0].formatted_address;
                            });
                            this.map = new google.maps.Map(document.getElementById('map'), {zoom: 14, center: this.loc});
                            new google.maps.Marker({position: this.loc, map: this.map, title: "Pickup address"});
                        });
                        this.intermediatePoints = [];
                        this.estimationsVisible = false;
                        this.tripConfirmed = false;
                        this.destinationPoint = "";
                        if(this.payment === "balance"){
                            this.balance = this.balance - this.rideRate.estimatedCost;
                            this.balance = Math.floor(this.balance * 100) / 100
                            axios.post("api/user/update_balance", {
                                params: {
                                    userId: this.userData.id,
                                    newBalance: this.balance
                                }
                            }).then(response => {
                                console.log("user balance updated", response.data.balance)
                            }).catch(error => {
                                console.log(error);
                            })
                        }
                    }
                    if (payload.driver_name !== undefined) {
                        this.driverInfo.driverName = payload.driver_name;
                        this.driverInfo.carType = payload.car_type;
                        this.driverInfo.carModel = payload.car_model;
                        this.driverInfo.carNumber = payload.car_number;
                    }
                }
            });

            //channel for new bookings
            this.channel_booking = this.socket.channel("topic:bookings", {});
            this.channel_booking.join()
            .receive("ok", resp => { console.log("Joined booking channel successfully", resp) })
            .receive("error", resp => { console.log("Unable to join booking channel", resp) })

            //channel for new canceling booking
            this.channel_cancel = this.socket.channel("topic:cancel", {});
            this.channel_cancel.join()
            .receive("ok", resp => { console.log("Joined booking cancelling channel", resp) })
            .receive("error", resp => { console.log("Unable to join cancel channel", resp) })

        },
        logout: function () {
            this.userData.id = "";
            this.reset();
            this.init();

        },
        cancelRequest: function(){
            axios.post("/api/bookings/cancel", {
                        params: { booking_id: this.userData.data.id,
                                  user_id: this.userData.id   }
                    }).then(response => {
                        this.login();
                        this.channel.push("cancel_booking",{
                            "cancel_it": true,
                            "id": this.userData.data.id
                            })
                    }).catch(
                        error => console.log(error)
                    )
        }
    },

    mounted: function () {
        this.init();
    },
    updated: function() {
        if (this.intermediatePoints.length > this.pointsCount) {
            let options = {
                    types: ['address'],
                    componentRestrictions: {country: "ee"}
            };

            let index = this.intermediatePoints.length

            this[`autocomplete${index}`] = new google.maps.places.Autocomplete(
                (document.getElementById(`app-input${index}`)),
                options
            );

            this[`autocomplete${index}`].addListener('place_changed', () => {
                let place = this[`autocomplete${index}`].getPlace();
                this.intermediatePoints[index-1].location = place.formatted_address;
            });
        }
        this.pointsCount = this.intermediatePoints.length;
    }
}
</script>

<style>

    .app-inputs {
        list-style: none;
        padding-left: 0;
    }

    .app-content {
        position: relative;
    }

    .app-input-group {
        position: relative;
        margin-bottom: 0.3em;
    }

    .app-icon {
        cursor: pointer;
    }

    .app-remove {
        color:firebrick;
        position: absolute;
        right: 0.5em;
        top: 0.6em;
    }

    .app-add {
        color:dodgerblue;
        position: absolute;
        right: 0.5em;
        top: 0.6em;
    }

    .app-large-btn {
        width: 100%;
        height: 3em;
        background-color: #65658b;
        margin-bottom: 0.3em;
    }

    html, body {
        height: 100%;
        background-color: #f3f0ff;
    }

    .app-container {
        background-color: #FEFCFD;
        box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.75);
        width: 70%;
        margin: 2em auto;
        padding: 1em;
    }

    .app-estimation {
        background-color: #E7ECF3;
        border-radius: 5px;
        font-size: smaller;
        padding: 0.7em;
    }

    .app-est {
        float: left;
        width: 50%;
    }

    ul.app-inputs .alert {
        margin-bottom: 0.3em;
    }

</style>
